/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/***************  General ***************/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    font-family: 'Noto Sans', sans-serif;
    color: #0d0033;
  }
  h1, h2, h3, h4 {
    font-family: 'Roboto Mono', monospace;
  }
  
  a {
    color: #0545c4;
    text-decoration: none;
  }
  
  
  a:hover {
    -webkit-transition:0.2s;
    -o-transition:0.2s;
    transition:0.2s;
    text-decoration: underline; 
    -webkit-text-decoration-style: dotted; 
            text-decoration-style: dotted;
  }
  
  a:focus {
    text-decoration: none;
  }
  
  p {
    font-size: 16px;
  }
  
  .button_submit {
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: #355b7c;
    color: #ffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition-duration: 0.4s;
         -o-transition-duration: 0.4s;
            transition-duration: 0.4s;
  }
  .button_clear {
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: #ff6600;
    color: #ffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition-duration: 0.4s;
         -o-transition-duration: 0.4s;
            transition-duration: 0.4s; 
  }
  
    .button_download {
      text-decoration: none !important;
      border: none;
      display: inline-block;
      font-family: inherit;
      background-color: #357b70;
      color: #ffff;
      text-decoration: none;
      padding: 10px;
      border-radius: 3px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      margin-bottom: 15px;
      }
      .button_download:hover {
        font-size:18px;
      }
  
  
  
  .button_skype {
    text-decoration: none !important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: #00aff0;
    color: #ffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10vw;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition:0.4s;
    -o-transition:0.4s;
    transition:0.4s
  }
  .button_skype:hover {
    background-color: #489c79;
  }
  
  button:hover, button:focus {
    cursor: pointer;
    opacity: 0.8;
  }
  
  img.profilepic {
    float: left;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 1.2);
            box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 1.2);
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    margin-right: 30px;
  }
  
  /***************  Header ***************/
  
  
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0.5%;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    margin: 0 auto;
    border-bottom: dotted; color: #dfdfdf;
  }
  
  .page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
  }
  
  .page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
  }
  
  
  /***** Navigation *****/
  nav {
    display: block;
    overflow: hidden;
  }
    
  nav li {
    display: inline-block; 
    color: #0d0033;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: inherit; }
  
  .topnav:hover {
      background-color: #DDDDDD;
      -webkit-transition:0.2s ease-in-out;
      -o-transition:0.2s ease-in-out;
      transition:0.2s ease-in-out;
      color: #0d0033;
      
      
      }
  
  .topnav-active {
      background-color:#DDDDDD; 
      color:#0d0033;
    }
  
  
  
  /***************  Main   ***************/
  
  main.index {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    max-width: 700px;
    padding: 20px;
    margin: 0 auto;
  }
  
  main.form 
  { display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  main.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  
  .main__heading {
    text-align: center;
    }
  
  
    /***** ABOUT  *****/
  
  .about  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }
  
  #about_picture {
      margin-top: 20px;
      height: auto;
      max-width: 500px;
  }
  
  /***** THE GRID  *****/
  
  .grid {
      display: -ms-grid;
      display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  
  .grid__item {
    display: inline-block;
    background-color:#DDDDDD;
    text-align: center;
    width: auto;
    min-height: auto;
    margin: 10px;
    
  }
  .grid__item:last-child {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 0;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
  }
  
  
  
  
  
  /***** CONTACTFORM TAGS   *****/
  
  .contactform {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    line-height: 2em;
    width: 100%;
    max-width: 500px;
    padding: 2%;
    background: #DDDDDD; }
  
  
  .form__span--modifier {
    color: undefined;
  }
  
  .contactform textarea {
    width: 100%;
  }
  
  
  /***** TABLE TAGS   *****/
  
  table.minimal {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 2em;
    height: auto; 
    width: 600px; 
  }
  
  table.minimal td {
    border: 1px dotted #AAAAAA;
  }
  
  table.minimal th {
    border: 1px dotted #AAAAAA;
  }
  table.minimal thead {
    background: #DDDDDD;
    
  }
  table.minimal thead th {
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  /***************  KEYFRAMES TAGS START HERE  ***************/
  
  @-webkit-keyframes color-change { 
    from {
      fill: #edc655;
    }
    to {
      fill: #f76414;
    }
  }
  
  @keyframes color-change { 
    from {
      fill: #edc655;
    }
    to {
      fill: #f76414;
    }
  }
  
  @-webkit-keyframes color-change-window { 
    from {
      fill: #edc655;
    }
    to {
      fill:#000000;
    }
  }
  
  @keyframes color-change-window { 
    from {
      fill: #edc655;
    }
    to {
      fill:#000000;
    }
  }
  
  @-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
  }
  
  @keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
  }
  
  @-webkit-keyframes cloud-move-reverse {
    from {
      -webkit-transform: translate(446px, 48px);
              transform: translate(446px, 48px);
    }
    to {
      -webkit-transform: translate(100px, 48px);
              transform: translate(100px, 48px);
    }
  }
  
  @keyframes cloud-move-reverse {
    from {
      -webkit-transform: translate(446px, 48px);
              transform: translate(446px, 48px);
    }
    to {
      -webkit-transform: translate(100px, 48px);
              transform: translate(100px, 48px);
    }
  }
  
  .window {
    -webkit-animation: 4s color-change-window infinite alternate ease-in-out;
            animation: 4s color-change-window infinite alternate ease-in-out;;
  }
  
  .sun {
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
  }
    .cloud-front {
      -webkit-animation-duration: 30s;
              animation-duration: 30s;
      -webkit-animation-name: cloud-move;
              animation-name: cloud-move;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
              animation-direction: alternate;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
    }
  
  .cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;
  }
  
  /***************  FOOTER TAGS  ***************/
  
  footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  
  footer p { 
    font-size: 14px;
    display: block;
    -webkit-margin-before: 30px;
            margin-block-start: 30px;
    -webkit-margin-after: 10px;
            margin-block-end: 10px;
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
  }
  
  .footer-img {
    border-radius: 40%;
    width: 40px;
    height: 40px;
    margin: 4px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }
  
  
  /***** RESPONISVENESS   *****/
  
  @media all and (max-width: 500px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-gap: 5px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    img.profilepic {
      float: none;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 0px;
    }
    table.minimal {
      width: auto;
    }
    h1 {
      font-size: 22px;
    }
    p {
      text-align: center;
      padding: 1%;
    }
  
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      -ms-grid-columns: 1fr 10px 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /***** my templates and other not used items   *****/
  
  /*
  .whatever{
  
    }
   */
  
  
   /*header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }/*
  
  /*.grid_img {
  justify-self: center;
  padding: 4%;
  width: auto;
  height: auto;
  min-height: auto;
  margin: 0;
  background-color: #0b0e192e;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .30);
  transition: all ease-in-out .2s;
  
  .grid_img:hover {
      filter: brightness(.75);
      box-shadow: 0 8px 12px 0 rgba(34, 60, 80, .16);
  }
  */