/***************  General ***************/
:root { 
  --primary-bg-color: #dfd7e1;
  --secondary-bg-color-light: #DDDDDD;
  --tertiary-font-color: #0d0033;
  --lightborder: #dfdfdf;
  --darkborder:rgba(0, 0, 0, 0.3);
  --dottedborder:#AAAAAA;
  --links: #0545c4;
  --normal-transition:  0.4s;
  --slower-transition:  0.2s;
   --text-decoration-style-none: none;
  --button-font-color:#ffff;
  --button-color-skype:#00aff0;
  --button-color-skype-alt:#489c79;
  --button-color-clear:#ff6600;
  --button-color-submit:#355b7c;
  --button-color-download:#357b70;
  --button-padding: 10px;
  --span-modifier-color: #ff0000;
  --sun-color: #edc655;
  --sun-color-transition: #f76414;
  --window-color: #edc655;
  --window-color-transition: #000000;

}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  color: var(--tertiary-font-color);
}
h1, h2, h3, h4 {
  font-family: 'Roboto Mono', monospace;
}

a {
  color: var(--links);
  text-decoration: var(--text-decoration-style-none);
}


a:hover {
  transition:var(--slower-transition);
  text-decoration: underline; 
  text-decoration-style: dotted;
}

a:focus {
  text-decoration: var( --text-decoration-style-none);
}

p {
  font-size: 16px;
}


.button_submit {
  border: none;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--button-color-submit);
  color: var(--button-font-color);
  text-decoration: var( --text-decoration-style-none);
  padding: var(--button-padding);
  border-radius: 3px;
  border-bottom: 2px solid var(--darkborder);
  transition-duration: var(--normal-transition);
}
.button_clear {
  border: none;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--button-color-clear);
  color: var(--button-font-color);
  text-decoration: var( --text-decoration-style-none);
  padding: var(--button-padding);
  border-radius: 3px;
  border-bottom: 2px solid var(--darkborder);
  transition-duration: var(--normal-transition); 
}

  .button_download {
    text-decoration: none !important;
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--button-color-download);
    color: var(--button-font-color);
    text-decoration: var( --text-decoration-style-none);
    padding: var(--button-padding);
    border-radius: 3px;
    border-bottom: 2px solid var(--darkborder);
    transition: var(--normal-transition);
    margin-bottom: 15px;
    }
    .button_download:hover {
      font-size:18px;
    }



.button_skype {
  text-decoration: none !important;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: none;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--button-color-skype);
  color: var(--button-font-color);
  text-decoration: var(--text-decoration-style-none);
  padding: var(--button-padding);
  border-radius: 10vw;
  border-bottom: 2px solid var(--darkborder);
  transition:var(--normal-transition)
}
.button_skype:hover {
  background-color: var(--button-color-skype-alt);
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.8;
}

img.profilepic {
  float: left;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 1.2);
  object-fit: cover;
  object-position: center;
  margin-right: 30px;
}

img.socialmedia {
  border-radius: 40%;
  width: 40px;
  height: 40px;
  margin: 4px;
  align-items: center;
  }

/***************  Header ***************/


.page-header {
  display: flex;
  width: 100%;
  padding: 0.5%;
  justify-content: normal;
  align-items: initial;
  margin: 0 auto;
  border-bottom: dotted; color: var(--lightborder);
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}


/***** Navigation *****/
nav {
  display: block;
  overflow: hidden;
}
  
nav li {
  display: inline-block; 
  color: var(--tertiary-font-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: inherit; }

.topnav:hover {
    background-color: var(--secondary-bg-color-light);
    transition:0.2s ease-in-out;
    color: var(--tertiary-font-color);
    
    
    }

.topnav-active {
    background-color:var(--secondary-bg-color-light); 
    color:var(--tertiary-font-color);
  }



/***************  Main   ***************/

main.index {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: left;
  max-width: 700px;
  padding: 20px;
  margin: 0 auto;
}

main.form 
{ align-items: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main__heading {
  text-align: center;
  }


  /***** ABOUT  *****/

.about  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

#about_picture {
    margin-top: 20px;
    height: auto;
    max-width: 500px;
}

/***** THE GRID  *****/

.grid {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  display: inline-block;
  background-color:var(--secondary-bg-color-light);
  text-align: center;
  width: auto;
  min-height: auto;
  margin: 10px;
  
}
.grid__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}





/***************  SECTION   ***************/

section.contact {
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  font-size: 1em;
  line-height: 2em;
  width: 100%;
  max-width: 500px;
  padding: 1%;
  margin: 20px;
  border-radius: 9px;
  background: var(--secondary-bg-color-light); 
  border-bottom: 3px solid var(--darkborder);

}

section.contact span {
  color: var(--span-modifier-color)!important;
}

section.contact textarea {
  width: 100%;
}

section.contact2 {
  border-top: 30px;
  padding: 1%;
  background: var(--secondary-bg-color-light); 
  width: 100%;
  max-width: 500px;
  line-height: 3em;
  border-radius: 10px;
  border-bottom: 3px solid var(--darkborder);
}





/***** TABLE TAGS   *****/

table.minimal {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid var(--darkborder);
  text-align: center;
  line-height: 2em;
  height: auto; 
  width: 600px; 
}

table.minimal td, table.minimal th {
  border: 1px dotted var(--dottedborder);
}
table.minimal thead {
  background: var(--secondary-bg-color-light);
  
}
table.minimal thead th {
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid var(--darkborder);
}

/***************  KEYFRAMES TAGS START HERE  ***************/

@keyframes color-change { 
  from {
    fill: var(--sun-color);
  }
  to {
    fill: var(--sun-color-transition);
  }
}

@keyframes color-change-window { 
  from {
    fill: var(--window-color);
  }
  to {
    fill:var(--window-color-transition);
  }
}

@keyframes cloud-move {
  from {
      transform: translate(0, 50px);
  }
  to {
      transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.window {
  animation: 4s color-change-window infinite alternate ease-in-out;;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}
  .cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/***************  FOOTER TAGS  ***************/

footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer p { 
  font-size: 14px;
  display: block;
  margin-block-start: 30px;
  margin-block-end: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}




/***** RESPONISVENESS   *****/

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  img.profilepic {
    float: none;
    align-items: center;
    margin-right: 0px;
  }
  table.minimal {
    width: auto;
  }
  h1 {
    font-size: 22px;
  }
  p {
    text-align: center;
    padding: 1%;
  }

}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
















/***** my templates and other not used items   *****/

/*
.whatever{

  }
 */


 /*header {
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}/*

/*.grid_img {
justify-self: center;
padding: 4%;
width: auto;
height: auto;
min-height: auto;
margin: 0;
background-color: #0b0e192e;
border-radius: 5px;
box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .30);
transition: all ease-in-out .2s;

.grid_img:hover {
	filter: brightness(.75);
	box-shadow: 0 8px 12px 0 rgba(34, 60, 80, .16);
}
*/